* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "SourceSans3", sans-serif;
  overflow-x: hidden;
}
.borad-5 {
  border-radius: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fz-10 {
  font-size: 10px;
}
.fz-11 {
  font-size: 11px;
}
.fz-12 {
  font-size: 12px;
}
.fz-13 {
  font-size: 13px;
}
.fz-14 {
  font-size: 14px;
}
.h-100vh {
  height: 100vh;
}
.img-box {
  width: clamp(100px, 15vw, 400px);
  height: clamp(100px, 15vw, 400px);
  object-fit: cover;
}
.img-rectangle {
  width: clamp(100px, 25vw, 700px);
  height: clamp(100px, 15vw, 400px);
  object-fit: cover;
}
.bg-cream {
  width: clamp(100px, 25vw, 700px);
  height: clamp(70px, 15vw, 400px);
  background: #f2ede9;
}
.text-darkblue {
  color: #2758a7;
}
p {
  color: #7c838f;
}
.bg-darkblue {
  background-color: #22448c;
}
.bg-brown {
  background-color: #4f4f51;
}
.bg-younggreen {
  background-color: #23bdc1 !important;
}
.text-younggreen {
  color: #23bdc1 !important;
}
.fz-40 {
  font-size: 80px;
}
.h1 {
  font-size: clamp(9px, 6vw, 50px) !important;
  text-wrap: nowrap;
}
.h2 {
  font-size: clamp(12px, 2vw, 36px) !important;
  width: clamp(100%, 12vw, 100%) !important;
}
.h3 {
  font-size: clamp(12px, 2vw, 36px) !important;
  width: clamp(100%, 12vw, 100%) !important;
}
.h6 {
  font-size: clamp(7px, 2vw, 16px) !important;
}
.line {
  width: clamp(50px, 5vw, 100px);
  height: clamp(2px, 1vw, 4px);
  background-color: #b8b3af;
}
.h-blank {
  height: clamp(50px, 3.5vw, 120px);
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #d8efef;
}
.left-none {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.right-none {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
.bg-th {
  --bs-table-bg-type: #d8d9db !important;
}
